<h1 style="">Cellars' List</h1>

<div class="container">
  <div class="row">
    <% @cellars.each do |c| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "wine_cellar.jpg" %>');">
        <div class="card-category"><%= c.kind %></div>
          <div class="card-description">
            <h2><%= c.user.first_name %>'s Cellar</h2>
            <p><%= c.address %> </p>
          </div>
        <div class="card-user">
          <%= c.price_per_month %> €
        </div>
        <%= link_to "", cellar_path(c), class: "card-link" %>
      </div>
    </div>
  <% end %>
  </div>
</div>

<hr>
<h1 style="">Overview</h1>

<div id="map" style="width: 100%; height: 400px; margin-bottom: 10px">
  <% content_for(:after_js) do %>
    <script>
      $(document).on('ready', function() {

        var handler = Gmaps.build('Google');
        handler.buildMap({ provider: { scrollwheel: false, zoomcontrol: true, draggable: true },internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds(markers);
        });
      });
    </script>
  <% end %>
</div>
