<% content_for :title, "#{@cellar.user.first_name}'s Cellar | Mister Cocktail" %>

<p>display a cellar </p>

<% if @cellar.photos.empty? %>
  <%= image_tag "wine_cellar.jpg", width: 800, height: 450, crop: :fill %>
<% else %>
  <% @cellar.photos.each do |photo| %>
    <%= cl_image_tag photo.path, width: 800, height: 450, crop: :fill %>
  <% end %>
<% end %>

<h2><%= @cellar.user.first_name %> 's Cellar </h2>
<h5><%= @cellar.description %></h5>

<p><%= @cellar.address %></p>

<div class="user-infos">
  <%= link_to user_profile_path(@cellar.user) do %>
  <%= @cellar.user.first_name %> <%= @cellar.user.last_name %>
  <% end %>
</div>

<p>
<h2><i class="fa fa-braille" aria-hidden="true"></i></h2>
<strong><%= @cellar.space_available %></strong> Emplacement disponible
</p>

<p>
<h2><i class="fa fa-eur" aria-hidden="true"></i></h2>
<strong><%= @cellar.price_per_month %>€</strong> Abonnement Mensuel
</p>

<p>
<h2><i class="fa fa-building-o" aria-hidden="true"></i></i></h2>
<strong><%= @cellar.kind %></strong>
</p>

<p>
<h2><i class="fa fa-fire" aria-hidden="true"></i></h2>
<strong><%= @cellar.temperature %>°C</strong>
</p>

<p>
<h2><i class="fa fa-hourglass-end" aria-hidden="true"></i></h2>
<strong><%= @cellar.open_hour %></strong>
</p>

<div id="map" style="width: 100%; height: 400px; margin-bottom: 50px">
  <% content_for(:after_js) do %>
    <script>
      $(document).on('ready', function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {

          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(10);
        });
      });
    </script>
  <% end %>
</div>

 <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Send a message</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Send a message to <%= @cellar.user.first_name %></h4>
        </div>
        <div class="modal-body">
          <%= simple_form_for @message, url: cellar_messages_path(@cellar)  do |f| %>
          <%= f.input :content %>
        </div>
        <div class="modal-footer">
          <%= f.button :submit, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<%= link_to "Book the cave!", new_cellar_reservation_path(@cellar) %>

