<% content_for :title, "#{@cellar.user.first_name}'s Cellar | Mister Cocktail" %>

<p>display a cellar </p>

<% if @cellar.photos.empty? %>
  <%= image_tag "wine_cellar.jpg", width: 1000, height: 450, crop: :fill %>
<% else %>
  <% @cellar.photos.each do |photo| %>
    <%= cl_image_tag photo.path, width: 1000, height: 450, crop: :fill %>
  <% end %>
<% end %>




<h2><%= @cellar.user.first_name %> 's Cellar </h2>
<h5><%= @cellar.description %></h5>

<p><%= @cellar.address %></p>


<div class="user-infos">
  <%= link_to user_profile_path(@cellar.user) do %>
  <%= @cellar.user.first_name %> <%= @cellar.user.last_name %>
  <% end %>
</div>

<p>
<h2><i class="fa fa-braille" aria-hidden="true"></i></h2>
<strong><%= @cellar.space_available %></strong> Emplacement disponible
</p>

<p>
<h2><i class="fa fa-eur" aria-hidden="true"></i></h2>
<strong><%= @cellar.price_per_month %>€</strong> Abonnement Mensuel
</p>

<p>
<h2><i class="fa fa-building-o" aria-hidden="true"></i></i></h2>
<strong><%= @cellar.kind %></strong>
</p>

<p>
<h2><i class="fa fa-fire" aria-hidden="true"></i></h2>
<strong><%= @cellar.temperature %>°C</strong>
</p>

<p>
<h2><i class="fa fa-hourglass-end" aria-hidden="true"></i></h2>
<strong><%= @cellar.open_hour %></strong>
</p>


<%= link_to "Book the cave!", new_cellar_reservation_path(@cellar) %>

<%= link_to "Send a message", new_cellar_message_path(@cellar) %>



