<div class="subnav">
  <%= link_to "Dashboard", user_dashboard_path, class: "subtitle" %>
  <%= link_to "Inbox", conversations_path, class: "subtitle active" %>
</div>



<% @conversations.each do |conversation| %>
<%= link_to conversation_path(conversation) do %>
<div class="product">
  <div class='product-upvote'>
    <div class='product-count'><i class="fa fa-envelope" aria-hidden="true"></i></div>
  </div>
  <%= image_tag "wine_cellar.jpg", class: "product-image hidden-xs" %>
  <div class='product-body'>
    <h3><%= conversation.cellar.user.first_name %> <%= conversation.cellar.user.last_name %></h3>
    <p><%= conversation.messages.last.content %></p>
  </div>
  <ul class="list-inline product-controls hidden-sm hidden-xs">
    <li><%= conversation.messages.last.created_at.strftime("%w %A %B") %></li>
  </ul>
</div>
<% end %>
<% end %>






