<% content_for :title, "#{current_user.first_name} | WineSitter Dashboard" %>

<h1>MY PROFILE</h1>
<div class="user-infos">
  <%= link_to user_profile_path(@user) do %>
  <%= @user.first_name %> <%= @user.last_name %>
  <% end %>
</div>

<h1>MY BOTTLES <%= link_to "Add a new Bottle Lot", new_admin_bottle_lot_path, class: "btn btn-primary" %></h1>


<div class="container">
  <div class="row">
  <% @user.bottle_lots.each do |bottle| %>
    <div class="col-xs-12 col-sm-4">
      <strong><%= bottle.quantity %></strong> <%= bottle.dimension %><br>
      <h4><%= bottle.appelation %></h4>
      <h5><%= bottle.year %></h5>
      <h5><%= bottle.color %></h5>
    </div>
    <% end %>
  </div>
</div>


<h1>MY CELLAR <%= link_to "Add a new Cellar", new_admin_cellar_path, class: "btn btn-primary" %></h1>
<p>
<% @cellars.each do |cellar| %>
<%= link_to cellar_path(cellar) do %>
<h2><%= @user.first_name %>'s Cellar </h2>
<h5><%= cellar.description %></5>
<h5><%= cellar.address %></5>
<h3><%= cellar.space_available %>
<% end %>
<% end %>
</p>

<h1>MY RESERVATIONS</h1>

<% @user.bottle_lots.each do |bottle_lot| %>
  <% bottle_lot.reservation_bottles.each do |reservation_bottle| %>
   <p>Reservation numéro : <%= reservation_bottle.reservation.id %></p>
   <p>Date de début de réservation : <%= reservation_bottle.reservation.check_in %> date de fin de réservation :  <%= reservation_bottle.reservation.check_out %></p> <%= link_to "Cancel reservation", reservation_reservation_bottle_path(reservation_bottle.reservation.id, reservation_bottle.id), class: "btn btn-primary" %>   <hr>
  <% end %>
<% end %>



