

<h1>MY PROFILE</h1>
<div class="user-infos">
  <%= link_to user_profile(@user) do %>
  <%= @user.first_name %> <%= @user.last_name %>
  <% end %>
</div>

<h1>MY BOTTLES</h1>
<p>
<%= @user.first_name %>
<%= @user.last_name %>
</p>

<h1>MY CELLAR</h1>
<p>
<% @cellars.each do |cellar| %>
<%= link_to cellar_path(cellar) do %>
<h2><%= @user.first_name %>'s Cellar </h2>
<h5><%= cellar.description %></5>
<h5><%= cellar.address %></5>
<h3><%= cellar.space_available %>
<% end %>
<% end %>
</p>




