
<div class="profil-user">
  <div class="image-user">
    <%= image_tag "http://placehold.it/150x150" %>
  </div>
  <div class="text-user">
    <h1>Hello, my name is <%= @user.first_name %></h1>
      <h5><strong><%= @user.first_name %> <%= @user.last_name %></strong> · Member since <strong><%= @user.created_at.strftime("%B %Y") %></strong></h5>
  </div>
</div>
<br>
<div class="my-cellar">
<h4>MY CELLAR</h4>
<p>
<% @cellars.each do |cellar| %>
<%= link_to cellar_path(cellar) do %>
<h5><%= @user.first_name %>'s Cellar (<%= cellar.space_available %>)</h5>
<h6><%= cellar.description %></6>
<h6>
  <i class="fa fa-map-marker" aria-hidden="true"></i>
  <%= cellar.address %>
</6>
<% end %>
<% end %>
</div>
