<p>This is my bottle</p>

<%= simple_form_for @bottle_lot, url: admin_bottle_lots_path do |f| %>
  <%= f.error_notification %>
  <%= f.input :size %>
  <%= f.input :year %>
  <%= f.input :color %>
  <%= f.input :appelation %>
  <%= f.input :quantity %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

